# Docs app
NEXT_PUBLIC_API_URL=http://localhost:4000
NEXT_PUBLIC_WHITEBOARD_APP_URL=http://localhost:3001
NEXT_PUBLIC_DEFAULT_DOC_ROLE=editor
# Optional: editor key를 미리 채워둘 때 사용
# NEXT_PUBLIC_EDITOR_ACCESS_KEY=
