@import "@repo/theme/fonts.css";
@import "../../../packages/ui/styles/design-system.css";
@import "../../../packages/ui/styles/app-base.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-family-body);
}

#storybook-root {
  width: 100%;
}

.sb-center-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0.5rem 0;
}
